<div class="form-group">
    <p>Campaign Name:</p>
    <input class="form-control" ng-model="newCampaign.CampaignName"  type="text"/>
    <p>Keyword</p>
    <input class="form-control" ng-model="newCampaign.CampaignKeyWord" type="text" />
    <p>Gift Given</p>
    <input class="form-control" ng-model="newCampaign.CampaignGift" type="text" />
    <p>Is Active?</p>
    <input class="form-control" ng-model="newCampaign.CampaignActive" type="checkbox" />

    <button class="btn btn-default" ng-click="newActiveCampaign()">New Campaign</button>
</div>
